body
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  background-image: url(/img/background.jpg)
  background-repeat: no-repeat
  background-size: cover
.container
  display: flex
  flex-direction: column
  flex-wrap: wrap
  color: white
  font-family: Raleway
  h1
    font-size: 5em
    margin: 0
  h2
    font-size: 3em
    margin: 10px 0
  h5
    margin-top: 0
  p
    font-size: 2em
    margin: 10px 0

  .notification
    background-color: rgba(255, 255, 255, 0.2)
    border-radius: 5px
    margin-top: 50px
    padding: 20px
    display: flex
    align-items: center
    justify-content: center
    

    .mainnotification
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      margin-left: 20px
    .button
      margin-left: 50px
      

button
  height: 3em
  margin-left: 20px
  border: 0
  background-color: rgba(255, 255, 255, 0.2)
  border-radius: 5px
  color: white
  padding: 0 20px
  transition: all 0.1s ease
  &:hover
    background-color: rgba(255, 255, 255, 0.3)

.footer
  display: flex
  background-color: rgba(255, 255, 255, 0.2)
  border-radius: 5px
  .left
    margin: 10px
  .separator
    width: 1px
    height: auto
    background-color: white
  .right
    margin: 10px

a
  color: black
  transition: all 0.1s ease
  &:hover
    font-weight: 700

h4
  margin: 0





