head
  title BOTW Check
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/normalize.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
  link(rel="stylesheet", href="css/font-awesome.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

body
 .container
  h1 Well...
  h2 The game is not quite playable yet!
  .notification
    .mainnotification
      p Want to be notified when it is?
      h5 <i>(I'll only notify you of important stuff, promise!)</i>
    .button
      button Yes! Notify me!
      
  h3 Here is some more information:
  .footer
    .left
      .issues
        h4 Known Issues:
        ul
          li FPS drops and stuttering.
          li Missing textures and (AMD GPU) flashing textures.
          li Abilities (Magnesis and Stasis) not working
          li Broken waypoints.
          li Cutscenes not working.
          li Frequent softlocks.
    .separator
    .right
      .information
      h4 More information:
      ul
        li Current CEMU release: 1.7.3d
      .documentation
      h4 Documentation:
      ul
        li
          a(href="http://compat.cemu.info/wiki/The_Legend_of_Zelda:_Breath_of_the_Wild") CEMU Wiki entry
        li
          a(href="https://www.reddit.com/r/cemu/comments/5z7j51/botw_megathread/") Reddit Megathread




